:root {
  /* Colours */
  --color-bg: #fff4e3; /* page background /*

  /* Header */
  --color-head-bg: #faa542;

  /* Logotype */
  --color-logotype-bg: #000;
  --color-text-logotype: #fceb94;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #eb98c2;
  /* Links */
  --color-link-bg: #fceb94;
  --color-link-hover: #fceb94; /* used */
  --color-link-active: #fceb94; /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 48px;
  --font-sub1-size: 48px;
  --font-h2-size: 36px;
  --font-h3-size: 32px;
  --color-headline-bg: #000;
  --color-headline-text-page: #fffae2;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #fffae2;

  /*  Marginer */
  --margin-head-bottom: 40px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #fff;
  --color-cta-card-bg: #eb98c2;
  /* news-cards */
  --color-news-bg: #fffae2;
  --color-news-bg-inverted: #dbe2f5;
  --color-cta-newscard-bg: #faa542;
  --color-cta-newscard-bg-inverted: #faa542;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #fffae2;
  --color-infobox-1-bg: #fceb94;
  --color-infobox-2-bg: #eb98c2;
}
