:root {
  /* Colours */
  --color-bg: light-dark(#fff4e3, #727171); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#faa542, #b78853);

  /* Logotype */
  --color-logotype-bg: light-dark(#fff4e3, #727171);
  --color-text-logotype: light-dark(#fceb94, #38362b);
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#eb98c2, #98647d);
  /* Links */
  --color-link-bg: light-dark(#fceb94, #b59349);
  --color-link-hover: light-dark#c2b36765; /* used */
  --color-link-active: light-dark#fceb94; /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 48px;
  --font-sub1-size: 48px;
  --font-h2-size: 36px;
  --font-h3-size: 32px;
  --color-headline-bg: light-dark(#000, #2c2b2b);
  --color-headline-text-page: light-dark(#fffae2, #c4c4c4);

  /* Tekst */
  --color-text: light-dark(#000, #c4c4c4);
  --color-text-inverted: light-dark(#fffae2, #c4c4c4);

  /*  Marginer */
  --margin-head-bottom: 40px;

  /* Borders */
  --border-radius: 30px;

  /* Cards */
  --color-card-bg: light-dark(#fff, #4d4d4d);
  --color-cta-card-bg: light-dark(#eb98c2, #98647d);
  /* news-cards */
  --color-news-bg: light-dark(#fffae2, #8b8b8b);
  --color-news-bg-inverted: light-dark(#fdc380, #b78853);
  --color-cta-newscard-bg: light-dark(#fdc380, #b78853);
  --color-cta-newscard-bg-inverted: light-dark(#faa542, #d8903e);

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark#fffae2;
  --color-infobox-1-bg: light-dark#fceb94;
  --color-infobox-2-bg: light-dark#eb98c2;
}
